.chat_window {
    position: absolute;
    width: calc(100% - 70px);  /*좌우최소여백*/
    left: 70px;
    max-width: 100%; /*800px;*/
    height: 100%;

    background-color: #ffffff;
    overflow: hidden;
}

/* 채팅화면 상단 */
.chat_window .top_menu {
    background-color: #ffffff;
    width: 100%;
    margin-left: 10px;
    padding: 10px 0 23px;   /* top / left,right / bottom */
}

.chat_window .top_menu .subject{

}

/* 채팅화면 상단 제목*/
.chat_window .top_menu .subject .title {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    color: #333333;
    font-size: 25px;
    background-color: #ffffff;
    width: calc(100% - 370px);
    min-width: 250px;
}

.chat_window .top_menu .subject .search{
    display: inline-block;
    background-color: #ffffff;
}

/* 채팅화면 상단 우측 아이콘 div */
.chat_window .top_menu .subject .icon {
    display: inline-block;
    float: right;
    width: 140px;
    height: 30px;
    background-color: #ffffff;
}

/* 채팅화면 상단 우측 아이콘들 */
.chat_window .top_menu .subject .icon .icon1{
    margin-left: 5px;
    width: 34px;
    height: 34px;
}

/* 채팅화면 상단 */
.chat_window .top_menu .ymdhis{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    color: #a8a6a6;
    font-size: 13px;
}

/* 이름 */
.chat_window .top_menu .bottom .view_mode{
    position: absolute;
    text-align: center;

    display: inline-block;

    margin-top: 0px;
    margin-left: calc(100% - 560px);
    color: #333333;
    font-size: 14px;
    width: 150px;

    border:1px solid #000000;

    border-top-right-radius: 12px 10px;                    /* x축 퍼센트 | y축 퍼센트 */
    border-top-left-radius: 12px 10px;
    border-bottom-left-radius: 12px 10px;
    border-bottom-right-radius: 12px 10px;
}

.chat_window .top_menu .bottom .view_mode_test1{
    position: absolute;
    text-align: center;

    display: inline-block;

    margin-top: 0px;
    margin-left: 10px;
    color: #333333;
    font-size: 14px;
    width: 60px;

    border:1px solid #000000;

    border-top-right-radius: 12px 10px;                    /* x축 퍼센트 | y축 퍼센트 */
    border-top-left-radius: 12px 10px;
    border-bottom-left-radius: 12px 10px;
    border-bottom-right-radius: 12px 10px;
}

.chat_window .top_menu .bottom .view_mode_test2{
    position: absolute;
    text-align: center;

    display: inline-block;

    margin-top: 0px;
    margin-left: 80px;
    color: #333333;
    font-size: 14px;
    width: 60px;

    border:1px solid #000000;

    border-top-right-radius: 12px 10px;                    /* x축 퍼센트 | y축 퍼센트 */
    border-top-left-radius: 12px 10px;
    border-bottom-left-radius: 12px 10px;
    border-bottom-right-radius: 12px 10px;
}

/* 우측선택 */
.chat_window .top_menu .bottom .option{
    float: right;
    width: 180px;
    height: 30px;
    background-color: #ffffff;
}

/* 메인 */
.chat_window .middle_content{
/*    border-top: 1px solid #e2e2e2;*/
}

/* 메세지창 */
.chat_window .middle_content .messages {
    position: absolute;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    width: calc(100% - 595px);
    /*height: 347px;*/
    height: calc(100% - 170px);/*626px;*/
    overflow: auto;
    background-color: #ffffff;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;

    border-radius: 17px;
    border:1px solid #cbcbcb;
}

.chat_window .middle_content .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.chat_window .middle_content .messages .message.appeared {
    opacity: 1;
}

/*========================LEFT=================================*/

.chat_window .middle_content .messages .message.left{
    float: left
}

.chat_window .middle_content .messages .message.right{
    float: right
}
/* 왼쪽 텍스트 프로필 */
/*
.chat_window .middle_content .messages .message .avatar {
    background-color: #ffffff;
    float: left;
    width: 30px;
    height: 50px;
    border-radius: 50%;
}
*/

/*프로필이미지*/
/*
.chat_window .middle_content .messages .message .avatar img {
    width: 33px;
    height: 33px;
}
*/

/* 왼쪽 텍스트 이름 */
.chat_window .middle_content .messages .message .name{
    /* position: absolute; */
    display: inline-block;
    margin-top: 0px;
    margin-left: 13px;
    font-size: 13px;
    font-weight: bold;
    background-color: #ffffff;

    cursor: pointer;
}



/*시작시간*/
.chat_window .middle_content .messages .message .st_time{
    /* position: absolute; */
    display: inline-block;
    margin-left: 10px;
    font-size: 11px;
    font-family: "굴림";
    color: #b5b5b5;
    background-color: #ffffff;
}

/*종료시간*/
.chat_window .middle_content .messages .message .ed_time{
   /* position: absolute;*/
    display: inline-block;
    margin-left: 10px;
    font-size: 11px;
    font-family: "굴림";
    color: #b5b5b5;
    background-color: #ffffff;
}

/*메모표시*/
.chat_window .middle_content .messages .message .memo_yn{
    display: inline-block;
    margin-left: 20px;
    width: 30px;

    border-radius: 10%;

    font-size: 10px;
    font-family: "굴림";
    color: #00a0b5;
    background-color: #abf4fd;
    text-align: center;
}

/*북마크표시*/
.chat_window .middle_content .messages .message .bookmark_yn{
    display: inline-block;
    margin-left: 5px;
    width: 40px;

    border-radius: 10%;

    font-size: 10px;

    color: #ffffff;
    background-color: #e113fc;
    text-align: center;
}

/* : */
.chat_window .middle_content .messages .message .data{
    display: inline-block;
}

/* 입력상자(숨겨진 input들) */
.chat_window .middle_content .messages .message .data input[type=text]{
    display: inline-block;
    width: 40px;
    height: 18px;

    display: none;
}


/* : */
.chat_window .middle_content .messages .message .message_menu{
    display: inline-block;
    float: right;
}

/* : */
.chat_window .middle_content .messages .message .message_menu .message_menu_img{
    width: 20px;
    height: 15px;
    display: none;
}


/* 왼쪽 텍스트박스 */
.chat_window .middle_content .messages .message .text_wrapper {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;

    padding-left: 10px;

    /*border-radius: 20% 20% 20% 20%;*/
    /*max-width: 680px; */
}

.chat_window .middle_content .messages .message.left .text_wrapper {
    clear:both;
    float:left;
    position: relative;
    display: block;
    background-color: #e5e5e5;
    margin-top: 0px;
    margin-left: 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    border-top-right-radius: 12px 10px;                    /* x축 퍼센트 | y축 퍼센트 */
    border-top-left-radius: 12px 10px;
    border-bottom-left-radius: 12px 10px;
    border-bottom-right-radius: 12px 10px;

    min-width: 10px;
    max-width: 500px;
}

.chat_window .middle_content .messages .message.right .text_wrapper {
    clear:both;
    float:left;
    position: relative;
    display: block;
    background-color: #e5e5e5;
    margin-top: 0px;
    margin-left: 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    border-top-right-radius: 12px 10px;                    /* x축 퍼센트 | y축 퍼센트 */
    border-top-left-radius: 12px 10px;
    border-bottom-left-radius: 12px 10px;
    border-bottom-right-radius: 12px 10px;

    min-width: 10px;
    max-width: 500px;
}

/*본문*/
.chat_window .middle_content .messages .message .text {
    color: #000000;
    font-size: 14px;
}


/* 본문/textarea */
.chat_window .middle_content .messages .message .text textarea{
    width: 100%;/*640px;*/

    font-size: 14px;

    resize: vertical;
    overflow-y: hidden;
    height: auto;
}

/* 본문/textarea/저장 */
.chat_window .middle_content .messages .message .text .save_btn{
    float: right;
    width:60px;
    height: 18px;

    margin-left: 10px;
    background-color: #d5ff26;

    border: 1px solid #d5ff26;

    font-size: 11px;
    font-family: "굴림";
    color: #0031ff;
}

/* 본문/textarea/취소 */
.chat_window .middle_content .messages .message .text .cancel_btn{
    float: right;
    width:60px;
    height: 18px;

    background-color: #dedede;

    border: 1px solid #dedede;

    font-size: 11px;
    font-family: "굴림";
    color: #0031ff;
}




/* ---------------------------------------------------------------------------------- */

/*메모창*/
.chat_window .middle_content .sub_content {
    /* (아래 sub_frame을 위,아래로 배치하며 높이변경시 동일한 사이즈로 변경됨) */
    display: grid;
    grid-template-rows: 1fr 1fr;

    /*---------------------------------------------------------------*/
    position: absolute;

    left: calc(100% - 575px);

    width: 570px;               /*    width: calc(100% - 70%);*/
    height: calc(100% - 255px);

/*    border:1px solid #ff5050;*/
}

.chat_window .middle_content .sub_content .sub_frame{
    /* 위의sub_content의 flex설정에 따른 설정값임  */
    display: flex;
    flex-direction: column;
     overflow: hidden;
    /*------------------------------------------*/

    margin-top: 10px;

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;

    border-radius: 17px;

    border:1px solid #cbcbcb;
}


.chat_window .middle_content .sub_content .sub_frame .menu{
    display: block;
}

.chat_window .middle_content .sub_content .sub_frame .menu .memo{
    display: inline-block;

    font-size: 14px;
    color: #000000;
}

.chat_window .middle_content .sub_content .sub_frame .menu .bookmark{
    display: inline-block;

    font-size: 14px;
    color: #000000;

    margin-left: 10px;
}

.chat_window .middle_content .sub_content .sub_frame .menu .ai{
    display: inline-block;

    font-size: 14px;
    color: #000000;

    margin-left: 10px;
}

.chat_window .middle_content .sub_content .sub_frame .menu .tts{
    display: inline-block;

    font-size: 14px;
    color: #000000;

    margin-left: 10px;
}

.chat_window .middle_content .sub_content .sub_frame .menu .rec_list{
    display: inline-block;

    font-size: 14px;
    color: #000000;

    margin-left: 10px;
}

.chat_window .middle_content .sub_content .sub_frame .sub_frame_content{

    flex: 1;
    overflow: auto; // content에 스크롤 적용

    background-color: bisque;


}

.chat_window .middle_content .sub_content .sub_frame .sub_frame_content .all_memo{

}

.chat_window .middle_content .sub_content .sub_frame .sub_frame_content .time_memo{

}
/*
<div class="sub_content">
    <div class="sub_frame">
        <div class="menu">
            <div class="memo">메모</div>
            <div class="bookmark">북마크</div>
            <div class="ai">AI</div>
            <div class="tts">TTS</div>
            <div class="rec_list">녹취록탐색</div>
        </div>
        <div class="content">
        </div>
    </div>
*/
/* ---------------------------------------------------------------------------------- */


/*하단 그래프부터 각버튼들까지*/
.chat_window .bottom_wrapper {
    /*position: relative;*/
/*    width: 100%;*/
    width: calc(100% - 15px);

    background-color: #ffffff;
    padding: 0px 0px;
    position: absolute;
    bottom: 0;
    height: 95px;

    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    border-radius: 25px;

    border:1px solid #cbcbcb;
}

/*WAVE 그래프*/
.chat_window .bottom_wrapper #waveform{
    overflow: hidden;

    background-color: #f2f8ff;

    height: 85px;

    margin-top: 7px;
    margin-left: 8px;
    margin-right: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
.chat_window .bottom_wrapper #waveform #canvas1, #canvas2 {
      width: 100%;
      height: 38px;
      background: #f2f8ff;
/*      border: 1px solid #cae2f7;*/
    }
/*------------------------------------------------------------------------------------------------------------------------------*/

/*하단 버튼들*/
.chat_window .bottom_wrapper #waveform_btn{
    width: calc(100% - 27px);
    height: 40px;
    background-color: #ffffff;
    min-width: 500px;

    margin-left: 15px;
}

/*하단 버튼들의 시작초*/
.chat_window .bottom_wrapper #waveform_btn #start_sec{
    display: inline-block;

    padding-top: 10px;
    padding-left: 30px;

    width: calc(100% - 60%);

    font-size: 12px;
    font-family: "굴림";
    color: #000000;
}

@media screen and (min-width:280px) {

    /*하단 버튼들의 배속*/
    .chat_window .bottom_wrapper #waveform_btn #speed{
        display: inline-block;

        font-size: 15px;
        color: #000000;

        padding-top: 10px;

        position: absolute;
        left: calc(100% - 62%);
        width: 50px;

        cursor: pointer;
    }

    /*하단 버튼들의 PREV 몇초*/
    .chat_window .bottom_wrapper #waveform_btn #prev{
        display: inline-block;

        position: absolute;
        left: calc(100% - 58%);
        width: 70px;

        cursor: pointer;
    }

    /*하단 버튼들의 재생 버튼*/
    .chat_window .bottom_wrapper #waveform_btn #play{
        display: inline-block;

        padding-top: 0px;

        position: absolute;
        left: calc(100% - 51%);
        width: 55px;

        cursor: pointer;
    }

    /*하단 버튼들의 NEXT버튼*/
    .chat_window .bottom_wrapper #waveform_btn #next{
        display: inline-block;

        position: absolute;
        left: calc(100% - 46%);
        width: 70px;

        cursor: pointer;
    }

    /*하단 버튼들의 북마크*/
    .chat_window .bottom_wrapper #waveform_btn #bookmark{
        display: inline-block;

        position: absolute;
        left: calc(100% - 41%);
        width: 70px;

        cursor: pointer;
    }

    /*하단 버튼들의 end초*/
    .chat_window .bottom_wrapper #waveform_btn #end_sec{
        display: inline-block;
        float: right;

        padding-top: 10px;
        padding-right: 30px;

        min-width: 100px;

        font-size: 12px;
        font-family: "굴림";
        color: #000000;
        text-align: right;

    }
}

/*---------------------------------------------------------------------------------------------------------*/

/* 하단 */
.chat_window .bottom_wrapper #record_btn{
    width: calc(100% - 165px);

    height: 42px;
    background-color: #ffffff;
    min-width: 500px;

    margin-left: 16px;
    margin-bottom: 0px;

    /*상하의 중간*/
    display: flex;
    align-items: center;
}

/*------------------*/
/*마이크1 영역*/
.chat_window .bottom_wrapper #record_btn #bt_mic1_image{
    display: inline-block;

    padding-top: 0px;
    padding-left: 5px;

}
/*마이크1 이미지*/
.chat_window .bottom_wrapper #record_btn #bt_mic1_image img{
    width: 15px;
}
/*마이크1 슬라이더 영역*/
.chat_window .bottom_wrapper #record_btn #bt_mic1_vol{
    display: inline-block;

    padding-top: 0px;
    padding-left: 10px;

    width: 80px;
}
/*------------------*/

/*-------------<(공통)슬라이더>--------------*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #0a0a0a;
  outline: none;
  opacity:0.9;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #464646;
  cursor: pointer;
}
/*-------------</슬라이더>--------------*/

/*------------------*/
/*마이크2 영역*/
.chat_window .bottom_wrapper #record_btn #bt_mic2_image{
    display: inline-block;
    padding-left: 20px;
}

/*마이크2 이미지*/
.chat_window .bottom_wrapper #record_btn #bt_mic2_image img{
    width: 15px;
}

/*마이크2 슬라이더 영역*/
.chat_window .bottom_wrapper #record_btn #bt_mic2_vol{
    display: inline-block;

    padding-top: 0px;
    padding-left: 10px;

/*    width: calc(100% - 91%);*/
    width: 80px;
}

/*------------------*/
/*스피커 역역*/
.chat_window .bottom_wrapper #record_btn #bt_speak_image{
    display: inline-block;
    padding-left: 20px;
}

/*스피커 이미지*/
.chat_window .bottom_wrapper #record_btn #bt_speak_image img{
    width: 24px;
}

/*스피커 슬라이더 영역*/
.chat_window .bottom_wrapper #record_btn #bt_speak_vol{
    display: inline-block;

    padding-left: 10px;

    width: 80px;
}
/*------------------*/


/*------------------*/
/*화자분리,잡음제거 텍스트 영역*/
.chat_window .bottom_wrapper #record_btn #bt_option_name{
    display: block;

    background-color: #ffffff;

    padding-left: 20px;
    width: 80px;

/*    border: 1px solid #dedede;*/

}

/*화자분리 텍스트*/
.chat_window .bottom_wrapper #record_btn #bt_option_name #sd_name{

    font-weight: bold;
    font-size: 13px;

    padding-top: 0px;
    padding-bottom: 0px;
/*    background-color: #ffffff;    */
/*    border: 1px solid #dedede;*/
}

/*잡음제거 텍스트*/
.chat_window .bottom_wrapper #record_btn #bt_option_name #nr_name{

    font-weight: bold;
    font-size: 13px;

    padding-top: 0px;
    padding-bottom: 0px;
/*    background-color: #ffffff; */

/*    border: 1px solid #dedede;*/
}
/*------------------*/

/*------------------*/
/*체크박스 영역*/
.chat_window .bottom_wrapper #record_btn #bt_option{
   display: block;
/*   position: absolute;*/

    width: 80px;
/*    height: 45px;*/

    margin-left: 0px;

}

/*체크박스 화자분리 영역*/
.chat_window .bottom_wrapper #record_btn #bt_option #sd_btn{

    padding-top: 8px;
    height: 28px;
}

/*=====================*/
/*체크박스 화자분리*/
.chat_window .bottom_wrapper #record_btn #bt_option #sd_btn input[type="checkbox"] {

/*  position: absolute;*/
  visibility: hidden;
}

/*(공통)체크박스*/
label {

  position: absolute;
  width: 65px;
  height: 16px;
  border-radius: 17px;
  background-color: #ddd;
  transition-duration: 0.2s;
}

/* 공*/
label span {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 30px;
  height: 16px;
  border-radius: 17px;
  background-color: #fff;
  transition-duration: 0.2s;
  border: 1px solid #dedede;
}

/*on,off*/
label:before,
label:after{
  position: absolute;
  top: 0;
  width: 24px;
  font-size: 11px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

label:before {
  left: 20;
  content: 'ON';
}

label:after {
  right: 0;
  content: 'OFF';
}

input:checked + label {
  background-color: #00c73c;
}
/* 공위치*/
input:checked + label span {
  /* left: 29px; */
  transform: translateX(36px);
}
/*=====================*/

/*체크박스 잡음제거 영역*/
.chat_window .bottom_wrapper #record_btn #bt_option #nr_btn{


}

/*체크박스 잡음제거*/
.chat_window .bottom_wrapper #record_btn #bt_option #nr_btn input[type="checkbox"] {

/*  position: absolute;*/
  visibility: hidden;
}

/*------------------*/



.chat_window .bottom_wrapper #record_btn #bt_mic{
    display: inline-block;
    position: absolute;

    left: calc(max(695px, 100% - 57%));  /* 최소 580px이 보장되도록 수정 */
}

.chat_window .bottom_wrapper #record_btn #bt_mic img{
    width: 25px;
}

.chat_window .bottom_wrapper #record_btn #bt_stop{
    display: inline-block;
    position: absolute;

    left: calc(max(740px, 100% - 54%));  /* 최소 580px이 보장되도록 수정 */
}

.chat_window .bottom_wrapper #record_btn #bt_stop img{
    width: 29px;
}

/*---------------------------------------------------------------------------------------------------------*/




.text-red {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
}

.text-normal {
    color: #000000;
    font-size: 14px;
}

