.file_window {
    position: absolute;
    width: calc(100% - 300px);  /*좌우최소여백*/
    left: 300px;
    max-width: 100%; /*800px;*/
    height: 100%; /*calc(100% - 7px);*/ /*750px;*/
    /*border-radius: 10px;*/
    /*left: 50%;*/
    /* top: 49%;   */                /*top여백*/
    /* transform: translateX(-50%) translateY(-50%); */

    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);*/


    background-color: #f8f8f8;
    overflow: hidden;
}

/* 화면 상단 */
.file_window .top_menu {
    background-color: #ffffff;
    width: 100%;
    padding: 30px 0 55px;   /* top / left,right / bottom */
    /* box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1); */
}

.file_window .top_menu .subject{

}

/* 화면 상단 제목*/
.file_window .top_menu .subject .title {
    position: absolute;
    text-align: left;
    margin-left: 20px;
    color: #333333;
    font-size: 25px;
    background-color: #ffffff;
    width: 50%;
    min-width: 250px;
}


/* 화면 상단 */
.file_window .top_menu .ymdhis{
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    color: #a8a6a6;
    font-size: 13px;
}

/* 이름 */
.file_window .top_menu .bottom .name{
    position: absolute;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    color: #333333;
    font-size: 14px;
    width: 150px;;
}

/* 우측선택 */
.file_window .top_menu .bottom .option{
    float: right;
    width: 180px;
    height: 30px;
    background-color: #ffffff;
}


/* 메인 */
.file_window .middle_content{
    border-top: 1px solid #e2e2e2;
    background-color: #ffffff;
    height: calc(100% - 140px);
    display: flex;
    align-items: center;

}

.file_window .middle_content .box {
    width: 550px;
    height: 340px;
    border: 1px solid #e2e2e2;

    background-color: #ffffff;
    margin: 0 auto;
}

.file_window .middle_content .box .title{
    font-size: 34px;
    color: #000000;
    font-family: "굴림";
    text-align: center;

    margin-top: 30px;
    margin-bottom: 40px;
}

.file_window .middle_content .box .text1{
    font-size: 15px;
    color: #000000;
    font-family: "굴림";

    margin-left: 110px;
    margin-top: 20px;
}

.file_window .middle_content .box .text2{
    font-size: 12px;
    color: #bfbfbf;
    font-family: "굴림";

    text-align: center;
    margin-top: 20px;
}

.file_window .middle_content .box .btn{
    border: 1px solid #4fdd49;
    border-radius: 10px;
    background-color: #4fdd49;
    width: 200px;


    margin-top: 40px;
    margin-left: 170px;


}















