
/* block형태일경우에 상단 리스트 이름 없애기  */
.list_window .top_menu .bottom{
    display: none;
}

/* ------------------------------------------- */

/* 메인 */
.list_window .middle_content_block{
    border-top: 1px solid #e2e2e2;
    background-color: #ffffff;
    height: calc(100% - 140px);

    align-items: center;
    overflow-y: scroll;
}




.list_window .middle_content_block .box {
    width: 290px;
    height: 230px;
    border : 1px solid #e2e2e2;

    margin: 15px 0px 0px 25px;
    background-color: #ffffff;
    display: inline-block;

}


/* 아이콘 */
.list_window .middle_content_block .box .icon{
    border: 1px solid #4fdd49;
    border-radius: 7px;

    margin-top: 5px;
    margin-left: 5px;

    text-align: left;
    font-size: 14px;
    color: #333333;

    width: 30px;
    min-width: 30px;
    height: 30px;

    background-color: #09c117;

    display: inline;
    float: left;
}

.list_window .middle_content_block .box .icon .list_img{
    width: 25px;
    height: 25px;
}

/* 제목 */
.list_window .middle_content_block .box .subject{
    margin-top: 10px;
    margin-left: 45px;

    text-align: left;
    font-size: 14px;
    color: #333333;

}

/* 내용 */
.list_window .middle_content_block .box .content{
    margin-top: 10px;

    padding: 0px 10px 0px 10px;

    height: 140px;

    text-align: left;
    font-size: 12px;
    color: #d1d1d1;


}

/* 파일명 */
.list_window .middle_content_block .box .filename{
    margin-left: 10px;

    text-align: left;
    font-size: 12px;
    color: #333333;

}

/* 마지막 수정 일자 */
.list_window .middle_content_block .box .modifyDate{
    margin-left: 10px;

    text-align: left;
    font-size: 12px;
    color: #333333;

    display: inline;
}

.list_window .middle_content_block .box .gubun{
    margin-left: 10px;

    font-size: 12px;
    color: #333333;

    display: inline;
}

/* 폴더 */
.list_window .middle_content_block .box .folder{
    margin-left: 10px;
    margin-top: 5px;

    text-align: left;
    font-size: 12px;
    color: #333333;

    display: inline;
}



/* 길이 */
.list_window .middle_content_block .box .waveLength{
    float: right;
    margin-right: 10px;
    margin-top: 5px;

    text-align: left;
    font-size: 12px;
    color: #333333;

    display: inline;

}

















