

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Nanum+Gothic&display=swap');

* {
    /*
    box-sizing: border-box;
    font-weight: bold;
    */
}

body {
    background-color: #ffffff;
    height: 100%;
}


.message_template {
    display: none;
}
