* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

/*
<div class="whole">
    <div class="pv_logo"></div>
    <div class="authentication_window">
        <div class="authentication">
            <span class="guide_text_1">아래 문구를 소리내어 읽어주세요.</span>
            <span class="guide_text_2">“내 목소리로 인증”</span>
        </div>
        <div class="parse_pending border">
            <span class="progress-text1">잘 하고 계세요!</span>
            <span class="progress-text">0%</span>
            <span class="progress-text2">거의 다 왔어요!</span>
            <div class="progress-bar success">
            </div>
        </div>
    </div>
</div>
*/

.whole {

    position: absolute;
    width: 850px;
    height: 470px;
    margin: auto;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

/*
    width: 100%;
    height: 100%;
*/
    background: rgba(255, 255, 255, 1);
/*
    top: 0px;
    left: 0px;
*/

}

/* 회사 로고 */
.whole .pv_logo {
    display: block;
    width: 243px;
    height: 100px;
    background: url("../../img/PV_Logo.png") no-repeat center center;
    background-size: cover;
    margin-left: 300px;


/*    position: absolute;*/
/*
    top: 0px;
    left: 404px;
*/
/*    overflow: hidden;*/
}

/*회색 테두리*/
.whole .authentication_window {

    margin-top: 20px;
    padding: 25px 23px;
    background: rgb(229, 229, 229);

    border-radius: 20px;
}



.whole .authentication_window .authentication {
    display: block;
    width: 800px;
    height: 350px;
    background: rgb(255, 255, 255);
/*    position: absolute;*/
/*
    top: 148px;
    left: 105px;
*/
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/*아래 문구를 소리내어 읽어주세요.*/
.whole .authentication_window .authentication .guide_text_1 {
    display: block;
/*    width: 773px;*/
    color: rgba(0, 0, 0, 1);
    margin-top: 60px;
/*
    position: absolute;
    top: 50px;
    left: 10px;
*/
    font-size: 24px;
    text-align: center;
}

/*내 목소리로 인증*/
.whole .authentication_window .authentication .guide_text_2 {
    display: block;
/*    width: 773px;*/
    color: rgba(0, 0, 0, 1);
    margin-top: 60px;
/*
    position: absolute;
    top: 200px;
    left: 20px;
*/
    font-size: 64px;

    text-align: center;
}


/*프로그래스바 테두리*/
.whole .authentication_window .parse_pending {
    display: block;
    width: 800px;
    height: 40px;
    background: rgb(255, 255, 255);

    margin-top: 50px;
/*    position: absolute;*/
/*    top: 370px;*/

/*    left: 50%;*/
/*    transform: translateX(-50%);*/
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
/*    overflow: hidden;*/
}

/* 프로그래스 바(내부)의 글자*/
.whole .authentication_window .parse_pending  .progress-text1 {
    color: #ffffff;
/*    white-space: nowrap;*/
/*
    margin-top: 25px;
    margin-left: 100px;
*/
    font-size: 20px;
    float: left;
    padding-left: 100px;
    padding-top: 5px;
/*
    position: absolute;
    left: 50%;
*/
}

/* 프로그래스 바(내부)의 글자*/
.whole .authentication_window .parse_pending  .progress-text {
    color: #141414;
/*    white-space: nowrap;*/
/*
    margin-top: 25px;
    margin-left: 100px;
*/
    font-size: 20px;
    padding-top: 5px;
    padding-left: 150px;
    float: left;
/*
    position: absolute;
    left: 50%;
*/
}

/* 프로그래스 바(내부)의 글자*/
.whole .authentication_window .parse_pending  .progress-text2 {
    color: #000000;
/*    white-space: nowrap;*/
/*
    margin-top: 25px;
    margin-left: 100px;
*/
    font-size: 20px;
    float: right;
    padding-right: 100px;
    padding-top: 5px;
/*
    position: absolute;
    left: 50%;
*/
}

/* 프로그래스 바(내부)*/
.whole .authentication_window .parse_pending .progress-bar {
/*
    display: block;
    width: 800px;
    height: 40px;
    background: rgb(255, 255, 255);
*/

/*    position: absolute;*/
/*
    top: 420px;
    left: 50%;
*/
/*    transform: translateX(-50%);*/
/*    border: 1px solid rgba(0, 0, 0, 1);*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
}


.success {
    width: 50%;
    background: linear-gradient(to right, #3057FA, #78F5F5);
    transition: all 0.5s ease-out;

    height: 39px;

/*     transform: translateX(-50%);*/
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
}












